:root {
    --menu-clr: hsl(210, 13%, 50%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    border-bottom: 1px solid hsl(0, 0%, 60%);
    background-color: var(--menu-clr);
}

nav ul {
    display: flex;
    list-style: none;
    /* Removes bullet points */
}

nav li {
    position: relative;
    display: flex;
}

nav a {
    display: flex;
    align-items: center;
    padding: 1.25em 2em;
    flex-direction: row;
    text-decoration: none;
    color: white;
    transition: background-color 200ms ease-in-out;
}

nav a:hover {
    background-color: darkgray;
}

.first-link {
    margin-right: auto;
}

.active {
    border-bottom: 2px solid hsl(0, 0%, 95%);
}

nav svg {
    width: 1em;
    height: 1em;
    fill: white;
    transition: transform 300ms ease;
}

nav li:hover svg {
    transform: rotate(180deg);
}

#mobileMenu {
    display: none;
}

@media screen and (max-width: 750px) {
    #mobileMenu {
        position: fixed;
        right: -100%;
        width: min(430px, 70%);
        height: 100%;
        background-color: var(--menu-clr);
        transition: right 0.3s ease-out;
        flex-direction: column;
        z-index: 100;
        display: flex;
        color: black;
        top: 0;
    }
}

.hide {
    display: none;
}

.show-icon,
.show {
    display: block !important;
}

.show-mobile {
    display: flex;
}

.open~.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
}

.overlay {
    display: block;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 300ms ease-out;
    pointer-events: none;
}

.open {
    right: 0 !important;
}

#hamburger-menu,
#close-menu {
    display: none;
    width: 70px;
    height: 70px;
    background: none;
    border: none;
    margin: 10px 10px 0 auto;
    cursor: pointer;
    z-index: 100000;
}

#close-menu {
    display: block;
}

.close-menu .close-icon {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    fill: white;
    /* Matches link color */
}

/* Submenu for PC */
.pc-submenu {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--menu-clr);
}

nav li:hover>.pc-submenu {
    display: block;
}

.pc-submenu li {
    display: block;
}