nav {
    border-bottom: 2px solid hsl(0 0 95%);
}

nav ul {
    display: flex;
    list-style: none;/*removes bullet points*/
    align-items: center;
    padding: 1.5em 2em;
    
}

.first-link {
    margin-right:auto;
}